# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django specific files
*.log
*.pot
*.pyc
*.pyo

# Environment variables
.env

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# Database files
*.db
*.sqlite3

# Media files
/media
/media/*

# Static files
/static
/static/*

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# PyInstaller
*.spec

# Sphinx documentation
docs/_build/
